.banner-wrapper .banner, .header-wrapper header, .hero .hero-text{
  --wrapper-width: 1600px;
  max-width: var(--wrapper-width);
}

.banner-wrapper{
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; */
  background-color: var(--clr-1);
  padding: .5rem clamp(8px, 3.25vw, 45px);
}
.banner{
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
.banner p{
  margin-left: 2rem;
}


.header-wrapper{
  padding: .5rem clamp(8px, 3.25vw, 45px);
}
.header-wrapper header{
  display: flex;
  align-items: center;
  margin: auto;
}
.header-wrapper header h2{
  flex: 1;
}
.header-wrapper nav{
  display: flex;
}
.header-wrapper nav li{
  margin-left: 28px;
  cursor: pointer;
  display: flex;
  align-self: center;
}
.header-wrapper nav li:not(:last-child):hover{
  border-bottom: 3px solid var(--clr-1);
}
.header-wrapper nav li a:hover{
  /* font-weight: 600; */
  color: white;
  background-color: var(--clr-1);
}
.header-wrapper a{
  border: solid var(--clr-1) 2px;
  border-radius: 5em;
  padding: .35em .75em;
  display: flex;
  align-self: center;
}
.header-wrapper nav li:not(:last-child){
  display: none;
}


.hero{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.38) 17.19%, rgba(0, 0, 0, 0.28) 33.33%, rgba(0, 0, 0, 0.16) 44.79%, rgba(0, 0, 0, 0.00) 100%), url(../Final/images/wallpaper_hero.png), lightgray -12.091px -5.606px / 110.59% 121.477% no-repeat;
  box-shadow: 0px -14px 12px -10px rgba(10, 66, 139, 0.80) inset;
  height: min(850px, calc(100vw * 0.46875));
  min-height: 512px;
  overflow: hidden;
  background-size: cover;
  background-position: top;
  margin: auto;
  padding: .5rem clamp(18px, 5vw, 45px);
  margin-bottom: var(--section-gap);
}
.hero .hero-text{
  margin: auto;
  position: relative;
  top: 28%;
}
.hero-text p{
  margin: 22px 0 16px;
  margin-top: clamp(28px, 3.5vw, 60px);
  margin-bottom: clamp(16px, 2vw, 28px);
}
.hero-text .cta{
  display: flex;
  max-width: 420px;
}
.hero-text .cta a:first-child{
  margin-right: 1rem;
}
.hero-text .cta *{
  background-color: var(--clr-1);
  flex: 1;
  text-align: center;
  padding: .55em 1em;
}


@media screen and (max-width: 380px) {
  .banner-wrapper, .header-wrapper, .hero{
    padding: 8px;
  }

  .header-wrapper nav{
    display: none;
  }

    
  .hero{
    min-height: 550px
  }
  .hero-text h1{
    text-align: center;
    width: auto;
  }
  .hero-text p{
    text-align: center;
    min-width: auto;
  }
  .hero-text .cta{
    flex-direction: column;
  }
  .hero-text .cta a:first-child{
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 650px) {
  .header-wrapper nav li:not(:last-child){
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .hero .hero-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .hero-text h1{
    width: auto;
  }
  .hero-text .cta{
    min-width: 500px;
  }
}

@media screen and (min-width: 1814px) {
  .hero .hero-text{
    top: 0;
    margin-top: clamp(230px, 14vw, 300px);
  }
}