.service-container{
  margin: 8px;
}

.service{
  padding: 12px;
  max-width: 500px;
  margin: auto;
  margin-bottom: var(--section-gap);
  background: #FBFBFB;
  box-shadow: 0px 4px 4px 0px rgba(10, 66, 139, 0.40);
  border: solid 1px var(--clr-1);
}

.service input[type="checkbox"] {
  display: none;
}
.service input[type="checkbox"]:checked ~ .btn-container label:first-child {
  display: none;
}
.service input[type="checkbox"]:checked ~ ul li,
.service input[type="checkbox"]:checked ~ p,
.service input[type="checkbox"]:checked ~ .btn-container label:nth-child(2) {
  display: list-item;
}
.service input[type="checkbox"] + input {
  visibility: hidden;
}

.service img{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  margin-bottom: 28px;
}

.service h4{
  margin-bottom: 24px;
}

.service ul{
  /* margin-bottom: 16px; */
}

.service li{
  /* padding-bottom: 12px; */
  margin-left: 28px;
}
.service li:nth-child(n+8){
  /* display: none; */
}

.service p{
  margin-bottom: 28px;
  /* display: none; */
}

.service .btn-container{
  display: flex;
  flex-direction: column;
}
.service .btn-container :nth-child(2){
  display: none;
}
.service .show-btn{
  margin-bottom: 12px;
}




/*  */
.service .btn-container :nth-child(2){
  display: none;
}
.service input[type="checkbox"]:checked ~ .btn-container label:first-child {
  display: none;
}
.service input[type="checkbox"]:checked ~ .btn-container label:nth-child(2) {
  display: block;
}


.service li:nth-child(n+8), .service p{
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
}

.service input[type="checkbox"]:checked ~ ul li:nth-child(n+8), .service input[type="checkbox"]:checked ~ p{
  opacity: 1;
  max-height: 1000px;
  transition: 500ms opacity ease-in-out, 700ms max-height ease-in-out;
  overflow: visible;
}


.service li:nth-child(n+8){
  margin-bottom: 0;
}

.service li{
  margin-bottom: 12px;
}

.service input[type="checkbox"]:checked ~ ul li:nth-child(n+8){
  margin-bottom: 12px;
}
/*  */





@media screen and (min-width: 400px) {
  .service .btn-container{
    flex-direction: row;
  }
  .service .show-btn{
    margin-right: 12px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 724px) {
  .service{
    max-width: 724px;
  }
  .service ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .service li:nth-child(n+8){
    /* display: list-item; */
  }
  .service li:nth-child(n+8){
    opacity: 1;
    overflow: visible;
    max-height: 1000px;
  }
  .service li:nth-child(n+9){
    opacity: 0;
    overflow: hidden;
    max-height: 0px;
  }

}

@media screen and (min-width: 1080px) {
  .service {
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto auto;
    column-gap: 2rem;
    padding: 24px;
  }
  .service img{
    grid-column: 2;
    grid-row: 1/4;
    max-width: 500px;
    aspect-ratio: 5/4;
    margin: 0;
    align-self: center;
  }
  .service h4{
    grid-column: 1;
    grid-row: 1;
  }
  .service ul{
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
  }
  .service p{
    grid-column: 1/3;
    grid-row: 3;
    margin-top: 26px;
  }
  .service .btn-container{
    grid-column: 1;
    grid-row: 3;
  }
  .service input[type="checkbox"]:checked ~ p{
    grid-row: 4;
  }
  .service input[type="checkbox"]:checked ~ .btn-container{
    grid-row: 5;
  }
  .service input[type="checkbox"]:checked ~ img{
    align-self: flex-start;
  }

  .service li:nth-child(n+8){
    opacity: 0;
    overflow: hidden;
    max-height: 0px;
  }
}

@media screen and (min-width:1380px) {
  .service-container{
    margin: 0 45px;
  }
  .service{
    max-width: 1400px;
    grid-template-columns: minmax(800px, 1fr) 1fr;
    grid-auto-rows: repeat(auto-fill, 1fr);
    align-content: center;
  }
  .service img{
    grid-row: 1/5;
    align-self: center;
    aspect-ratio: 5/4;
    height: 100%;
    max-width: none;
    height: 500px;
    /* min-height: 500px; */
    /* aspect-ratio: unset; */
  }
  .service ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    column-gap: 2rem;
    margin-bottom: auto;
  }
  .service li{
    width: 372px;
  }
  .service li:nth-child(n+8){
    display: list-item
  }

  .service p{
    display: inline;
    grid-column: 1;
    grid-row: 3;
  }
  .service .btn-container{
    grid-row: 4;
  }
  .service .btn-container label{
    display: none;
  }

  .service li:nth-child(n+8){
    opacity: 1;
    overflow: visible;
    max-height: 1000px;
  }
  .service li:nth-child(n+8){
    margin-bottom: 12px;
  }
  .service p{
    opacity: 1;
    overflow: visible;
    max-height: 1000px;
  }
}