.service-overview{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1rem;
  max-width: 2000px;
  margin: auto;
  margin-bottom: var(--section-gap);
}

.service-card *{
  transition: all 0.33s ease 0s;
  transition-property: all;
  transition-duration: 0.33s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.service-card:hover *{
  transition: all 0.33s ease 0s;
  transition-property: all;
  transition-duration: 0.33s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.service-card{
  text-align: center;
  padding: 50px 35px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-card img{
  width: 100%;
  max-width: 60px;
}
.service-card h6{
  margin: 16px 0 0;
}
.service-card:hover img{
  scale: .95;
  transform: translateY(-2px);
}

.service-card:hover h6{
  transform: translateY(-8px);
}
.service-card:hover p{
  transform: translateY(4px);
  scale: 1.1;
}

.service-card #divider{
  background-color: var(--clr-1);
  height: 2px;
  width: 35%;
  margin: 18px 0px 12px;
}
.service-card:hover #divider{
  width: 55%;
  /* transform: translateY(-8px); */
}

.service-card #th, .service-card #bv, .service-card #tv, .service-card #bh{
  position: absolute;
  border: 1px solid whitesmoke;
}
.service-card #bv{
  top: var(--width);
  bottom: 0;
  right: 0;
}
.service-card #bh{
  bottom: 0;
  left: var(--width);
  right: 0;
}
.service-card #tv{
  bottom: var(--width);
  top: 0;
  left: 0;
}
.service-card #th{
  top: 0;
  right: var(--width);
  left: 0;
}
.service-card:hover #th, .service-card:hover #bv, .service-card:hover #tv, .service-card:hover #bh{
  --width: 0;
  border: 1px solid var(--clr-1);
}




@media screen and (min-width: 1200px) {
  .service-overview{
    grid-template-columns: repeat(3, minmax(0, 450px));
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .service-overview{
    display: none;
  }
}
